<!--************  EXAMEN FINAL NEXT BACKEND **********
**********************HTML PRINCIPAL**************-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/materialize.min.css">
    
    
    <title>Formulario</title>
</head>
<body> 
    <div class=""><nav><div class="blue darken-3 nav-wrapper center-align"><h4>Buscador de Propiedades</h4></div></nav>     </div>

<div class="row">
    

<!--****** BODY : CUERPO  1  *********-->    
    <div class="col s4"> <div class="cuerpo1"><h5>Busqueda Personalizada :</h5>
    
        <div class="botonField">
        <div type="submit" class="btn  btn-small  " value="Ver" id="mostrarTodos">Ver Todos</div></div>
        </div></div>
<!--**************-->    
    
    






<!--****** BODY : CUERPO  2  *********-->
    <div class="col s8"> <div class="cuerpo2">
        <div class="panel">  
            
 <div class="bloque1">
   <div class="cajon">
   <div class="bloque1a">
    
     <div class="fotoa">
           </div>
   </div>
   <div class="bloque1b">
     <div class="direccion"></div>
     <div class="ciudad"></div>
     <div class="telefono"></div>
     <div class="codigop"></div>
     <div class="tipo"></div>
     <div class="precio"></div>
   </div>
 </div>
 
 </div>
 
 </div>
    </div></div>

<!--**************-->

</div>


<script type="text/javascript" src="js/jquery-3.0.0.js"></script>
<script type="text/javascript" src="js/actions.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>