
/*--□□□□□□□□□□□□□□□□□□   Modelado CSS □□□□□□□□□□□□□□□□□□□□□□□□□□*/

body{background-color: rgba(218, 215, 241, 0.5);font-family:Arial, Helvetica, sans-serif;}
nav{background-color: rgba(28, 40, 212, 0.918);color: rgb(242, 244, 247);text-align:center;}
h4 { margin: 0;  padding-top: .3em;font-size:2.2em;}

.panel   { width: 120% ;}
.bloque1 { width: 100% ;display:flex;}
.cajon{display: flex;width: 120%;}
.bloque1a { width:60% ;display: flex;}
.bloque1b { width:70%; font-size: 1em;padding-left: 2%;padding-right: 2%;}
.fotoa    {width: 100%; height: 100%}
.direccion{display:flex;}
.prenum  {color: orange;font-weight: bold;}
.precio{display:flex;}
.li{list-style: none;}
.btmostod{margin-top: 10%;margin-bottom: 5%;}
.cuerpo1{background-color: rgb(248, 246, 246); margin-top: 20px; align-items:center ;text-align: center;}
.cuerpo2{background-color: rgb(238, 238, 241); margin-top: 20px;}
.container{padding: 1em;}
.texto{display:flex;flex-direction: row;margin-top: -10%;}
.textoa{color:gray;margin-right: 50%;}
.textob{color:gray;}
.boxprecio{display:flex;flex-direction: row;margin-bottom: 15px;}
#rangomin{margin-right: 8%;}




/* Ocultar-Mostrar busqueda personalizada*/
.invisible {display: none;}
#personalizada {margin-top: 1em;}
